#### https://mungingdata.com/sqlite/create-database-load-csv-python/

In [1]:
from pathlib import Path
database_folder = 'data/database/'
Path (database_folder+'TorontoRestaurantReviewDatabase.db').touch()

In [2]:
import sqlite3

conn = sqlite3.connect(database_folder+'TorontoRestaurantReviewDatabase.db') #,detect_types=0
c = conn.cursor()

In [3]:
# conn.close()

In [3]:
import pandas as pd
# restaurants = pd.read_csv(database_folder+'restaurants.csv')
reviews     = pd.read_csv(database_folder+'reviews.csv')
# responses   = pd.read_csv(database_folder+'responses.csv')
# web         = pd.read_csv(database_folder+'web.csv')
# cuisine     = pd.read_csv(database_folder+'cuisine.csv')
# location    = pd.read_csv(database_folder+'location.csv')

In [5]:
restaurants.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'place_id', 'name_tripAdvisor',
       'rank_tripAdvisor', 'name_google', 'cuisine', 'retrieve_date',
       'rating_tripAdvisor', 'rating_google', 'status', 'review_count'],
      dtype='object')

In [6]:
restaurants.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'],inplace=True)
restaurants.columns.to_list()

['place_id',
 'name_tripAdvisor',
 'rank_tripAdvisor',
 'name_google',
 'cuisine',
 'retrieve_date',
 'rating_tripAdvisor',
 'rating_google',
 'status',
 'review_count']

In [7]:
restaurants.dtypes

place_id               object
name_tripAdvisor       object
rank_tripAdvisor        int64
name_google            object
cuisine                object
retrieve_date          object
rating_tripAdvisor     object
rating_google         float64
status                 object
review_count            int64
dtype: object

In [8]:
restaurants['place_id']
restaurants['name_google']

0             Goodfellas Wood Oven Pizza
1                    Moxie's Grill & Bar
2       New Orleans Seafood & Steakhouse
3                 Scaramouche Restaurant
4                                    Alo
                      ...
2163                 Simit the big bagel
2164                        Fancy Franks
2165                Watermark Restaurant
2166                          Marzitelli
2167                       Corner Grille
Name: name_google, Length: 2168, dtype: object

In [9]:
# c.execute('''CREATE TABLE users (user_id int, username text)''')

c.execute('''CREATE TABLE restaurants (place_id text PRIMARY KEY, name_tripAdvisor text, name_google text, cuisine text, 
status text, rank_tripAdvisor int, rating_tripAdvisor real, rating_google real, review_count int, retrieve_date text) ''')

In [10]:
restaurants.to_sql('restaurants', conn, if_exists='replace', index=False)

In [11]:
query = '''SELECT * FROM restaurants LIMIT 10'''
c.execute(query)
c.fetchall()

[('ChIJedJ0GGI2K4gR6dco_CjRntY',
  '1. Goodfellas Wood Oven Pizza',
  1,
  'Goodfellas Wood Oven Pizza',
  'Italian, Pizza',
  '2021-08-09 19:15:40.484368-04:00',
  '4.5 of 5 bubbles',
  4.3,
  'OPERATIONAL',
  902),
 ('ChIJfQJkpzMyK4gRDnUt3YFXa5w',
  "2. Moxie's Grill & Bar",
  2,
  "Moxie's Grill & Bar",
  'Grill, Bar',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.0,
  'OPERATIONAL',
  1634),
 ('ChIJ466I-9o2K4gRxzeisSIQUzg',
  '3. New Orleans Seafood & Steakhouse',
  3,
  'New Orleans Seafood & Steakhouse',
  'Steakhouse, Cajun & Creole',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.8,
  'OPERATIONAL',
  587),
 ('ChIJrxCATO8zK4gRHe57JQWul2Q',
  '4. Scaramouche Restaurant',
  4,
  'Scaramouche Restaurant',
  'French, International',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.7,
  'OPERATIONAL',
  992),
 ('ChIJryijc9s0K4gRG9aU7SDTXdA',
  '5. ALO RESTAURANT',
  5,
  'Alo',
  'French, European',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.7,
  'OPERATIONAL',
  1353),
 ('ChIJf4hIwkXL1IkR1FE_9q56MKQ',
  '6. The Tilted Dog Pub & Kitchen',
  6,
  'The Tilted Dog Pub & Kitchen',
  'Bar, Pub',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.5,
  'OPERATIONAL',
  404),
 ('ChIJHwcmTRk2K4gRm85aUecgRe8',
  '7. LaVinia Restaurant',
  7,
  'LaVinia Restaurant',
  'Mediterranean, Spanish',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.6,
  'OPERATIONAL',
  418),
 ('ChIJmzR9dJU0K4gRj44f61gBfss',
  '8. Rasa',
  8,
  'RASA',
  'Canadian, International',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.6,
  'OPERATIONAL',
  591),
 ('ChIJ1ZGZKNk0K4gRaouNzuptWV8',
  '9. Pai Northern Thai Kitchen',
  9,
  'PAI',
  'Asian, Thai',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.6,
  'OPERATIONAL',
  8817),
 ('ChIJJZP2IzPL1IkRoIXM5dEE9ck',
  '10. Richmond Station',
  10,
  'Richmond Station',
  'American, International',
  '2021-08-09 19:15:40.732702-04:00',
  '4.5 of 5 bubbles',
  4.7,
  'OPERATIONAL',
  2281)]

In [12]:
pd.read_sql(query, conn)

,place_id,name_tripAdvisor,rank_tripAdvisor,name_google,cuisine,retrieve_date,rating_tripAdvisor,rating_google,status,review_count
0,ChIJedJ0GGI2K4gR6dco_CjRntY,1. Goodfellas Wood Oven Pizza,1,Goodfellas Wood Oven Pizza,"Italian, Pizza",2021-08-09 19:15:40.484368-04:00,4.5 of 5 bubbles,4.3,OPERATIONAL,902
1,ChIJfQJkpzMyK4gRDnUt3YFXa5w,2. Moxie's Grill & Bar,2,Moxie's Grill & Bar,"Grill, Bar",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.0,OPERATIONAL,1634
2,ChIJ466I-9o2K4gRxzeisSIQUzg,3. New Orleans Seafood & Steakhouse,3,New Orleans Seafood & Steakhouse,"Steakhouse, Cajun & Creole",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.8,OPERATIONAL,587
3,ChIJrxCATO8zK4gRHe57JQWul2Q,4. Scaramouche Restaurant,4,Scaramouche Restaurant,"French, International",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.7,OPERATIONAL,992
4,ChIJryijc9s0K4gRG9aU7SDTXdA,5. ALO RESTAURANT,5,Alo,"French, European",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.7,OPERATIONAL,1353
5,ChIJf4hIwkXL1IkR1FE_9q56MKQ,6. The Tilted Dog Pub & Kitchen,6,The Tilted Dog Pub & Kitchen,"Bar, Pub",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.5,OPERATIONAL,404
6,ChIJHwcmTRk2K4gRm85aUecgRe8,7. LaVinia Restaurant,7,LaVinia Restaurant,"Mediterranean, Spanish",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.6,OPERATIONAL,418
7,ChIJmzR9dJU0K4gRj44f61gBfss,8. Rasa,8,RASA,"Canadian, International",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.6,OPERATIONAL,591
8,ChIJ1ZGZKNk0K4gRaouNzuptWV8,9. Pai Northern Thai Kitchen,9,PAI,"Asian, Thai",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.6,OPERATIONAL,8817
9,ChIJJZP2IzPL1IkRoIXM5dEE9ck,10. Richmond Station,10,Richmond Station,"American, International",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.7,OPERATIONAL,2281

In [13]:
restaurants

,place_id,name_tripAdvisor,rank_tripAdvisor,name_google,cuisine,retrieve_date,rating_tripAdvisor,rating_google,status,review_count
0,ChIJedJ0GGI2K4gR6dco_CjRntY,1. Goodfellas Wood Oven Pizza,1,Goodfellas Wood Oven Pizza,"Italian, Pizza",2021-08-09 19:15:40.484368-04:00,4.5 of 5 bubbles,4.3,OPERATIONAL,902
1,ChIJfQJkpzMyK4gRDnUt3YFXa5w,2. Moxie's Grill & Bar,2,Moxie's Grill & Bar,"Grill, Bar",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.0,OPERATIONAL,1634
2,ChIJ466I-9o2K4gRxzeisSIQUzg,3. New Orleans Seafood & Steakhouse,3,New Orleans Seafood & Steakhouse,"Steakhouse, Cajun & Creole",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.8,OPERATIONAL,587
3,ChIJrxCATO8zK4gRHe57JQWul2Q,4. Scaramouche Restaurant,4,Scaramouche Restaurant,"French, International",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.7,OPERATIONAL,992
4,ChIJryijc9s0K4gRG9aU7SDTXdA,5. ALO RESTAURANT,5,Alo,"French, European",2021-08-09 19:15:40.732702-04:00,4.5 of 5 bubbles,4.7,OPERATIONAL,1353
...,...,...,...,...,...,...,...,...,...,...
2163,ChIJ2XZ3tVXQ1IkRtd7R_IGVFHs,1504. Simit & Chai Co.,1504,Simit the big bagel,"Cafe, Turkish",2021-08-09 19:20:50.158843-04:00,NaN,NaN,OPERATIONAL,22
2164,ChIJP8IxfNs0K4gRPzz0XjSS1V0,1581. Fancy Franks Gourmet Hot Dogs,1581,Fancy Franks,"Canadian, Fast food",2021-08-09 19:21:04.200514-04:00,NaN,NaN,OPERATIONAL,405
2165,ChIJu34dbAxD04kRny8N8yLWSi4,1582. Watermark Restaurant & Lounge,1582,Watermark Restaurant,"Italian, American",2021-08-09 19:21:04.200514-04:00,NaN,NaN,OPERATIONAL,259
2166,ChIJp1jFXvk1K4gRaKmLr_DxnAQ,1766. Ristorante Marzitelli,1766,Marzitelli,"Italian, French",2021-08-09 19:21:48.732278-04:00,NaN,NaN,OPERATIONAL,118
2167,ChIJI8wE6OoG5IkRl9LO-M2dlEU,1864. Pete’s Corner Grill,1864,Corner Grille,"Canadian, Cafe",2021-08-09 19:22:17.856666-04:00,NaN,NaN,CLOSED_PERMANENTLY,235

In [14]:
cuisine.dtypes

Unnamed: 0                 int64
place_id                  object
name_google               object
category_tripAdvisor_1    object
category_tripAdvisor_2    object
dtype: object

In [15]:
cuisine.drop(columns='Unnamed: 0', inplace=True)
cuisine

,place_id,name_google,category_tripAdvisor_1,category_tripAdvisor_2
0,ChIJedJ0GGI2K4gR6dco_CjRntY,Goodfellas Wood Oven Pizza,Italian,Pizza
1,ChIJfQJkpzMyK4gRDnUt3YFXa5w,Moxie's Grill & Bar,Grill,Bar
2,ChIJ466I-9o2K4gRxzeisSIQUzg,New Orleans Seafood & Steakhouse,Steakhouse,Cajun & Creole
3,ChIJrxCATO8zK4gRHe57JQWul2Q,Scaramouche Restaurant,French,International
4,ChIJryijc9s0K4gRG9aU7SDTXdA,Alo,French,European
...,...,...,...,...
2163,ChIJ2XZ3tVXQ1IkRtd7R_IGVFHs,Simit the big bagel,Cafe,Turkish
2164,ChIJP8IxfNs0K4gRPzz0XjSS1V0,Fancy Franks,Canadian,Fast food
2165,ChIJu34dbAxD04kRny8N8yLWSi4,Watermark Restaurant,Italian,American
2166,ChIJp1jFXvk1K4gRaKmLr_DxnAQ,Marzitelli,Italian,French
2167,ChIJI8wE6OoG5IkRl9LO-M2dlEU,Corner Grille,Canadian,Cafe

In [16]:
c.execute('''CREATE TABLE cuisine (place_id text, name_google text, category_tripAdvisor_1 text, 
category_tripAdvisor_2 text, FOREIGN KEY(place_id) REFERENCES restaurants(place_id)) ''')

In [17]:
cuisine.to_sql('cuisine', conn, if_exists='replace', index=False)

In [18]:
query = '''SELECT * FROM cuisine LIMIT 10'''
c.execute(query)
c.fetchall()

[('ChIJedJ0GGI2K4gR6dco_CjRntY',
  'Goodfellas Wood Oven Pizza',
  'Italian',
  'Pizza'),
 ('ChIJfQJkpzMyK4gRDnUt3YFXa5w', "Moxie's Grill & Bar", 'Grill', 'Bar'),
 ('ChIJ466I-9o2K4gRxzeisSIQUzg',
  'New Orleans Seafood & Steakhouse',
  'Steakhouse',
  'Cajun & Creole'),
 ('ChIJrxCATO8zK4gRHe57JQWul2Q',
  'Scaramouche Restaurant',
  'French',
  'International'),
 ('ChIJryijc9s0K4gRG9aU7SDTXdA', 'Alo', 'French', 'European'),
 ('ChIJf4hIwkXL1IkR1FE_9q56MKQ', 'The Tilted Dog Pub & Kitchen', 'Bar', 'Pub'),
 ('ChIJHwcmTRk2K4gRm85aUecgRe8',
  'LaVinia Restaurant',
  'Mediterranean',
  'Spanish'),
 ('ChIJmzR9dJU0K4gRj44f61gBfss', 'RASA', 'Canadian', 'International'),
 ('ChIJ1ZGZKNk0K4gRaouNzuptWV8', 'PAI', 'Asian', 'Thai'),
 ('ChIJJZP2IzPL1IkRoIXM5dEE9ck',
  'Richmond Station',
  'American',
  'International')]

In [19]:
pd.read_sql(query, conn)

,place_id,name_google,category_tripAdvisor_1,category_tripAdvisor_2
0,ChIJedJ0GGI2K4gR6dco_CjRntY,Goodfellas Wood Oven Pizza,Italian,Pizza
1,ChIJfQJkpzMyK4gRDnUt3YFXa5w,Moxie's Grill & Bar,Grill,Bar
2,ChIJ466I-9o2K4gRxzeisSIQUzg,New Orleans Seafood & Steakhouse,Steakhouse,Cajun & Creole
3,ChIJrxCATO8zK4gRHe57JQWul2Q,Scaramouche Restaurant,French,International
4,ChIJryijc9s0K4gRG9aU7SDTXdA,Alo,French,European
5,ChIJf4hIwkXL1IkR1FE_9q56MKQ,The Tilted Dog Pub & Kitchen,Bar,Pub
6,ChIJHwcmTRk2K4gRm85aUecgRe8,LaVinia Restaurant,Mediterranean,Spanish
7,ChIJmzR9dJU0K4gRj44f61gBfss,RASA,Canadian,International
8,ChIJ1ZGZKNk0K4gRaouNzuptWV8,PAI,Asian,Thai
9,ChIJJZP2IzPL1IkRoIXM5dEE9ck,Richmond Station,American,International

In [4]:
reviews.columns

Index(['Unnamed: 0', 'review_id', 'user_id', 'rating', 'text',
       'date_retrieved', 'date_relative', 'place_id'],
      dtype='object')

In [5]:
reviews.drop(columns='Unnamed: 0', inplace=True)
reviews.columns

Index(['review_id', 'user_id', 'rating', 'text', 'date_retrieved',
       'date_relative', 'place_id'],
      dtype='object')

In [6]:
reviews.dtypes

review_id          object
user_id            object
rating            float64
text               object
date_retrieved     object
date_relative      object
place_id           object
dtype: object

In [7]:
reviews.user_id

0                    Erika W
1           Camilla Guberman
2          camille epondulan
3                   Diana Su
4           Zainab Abu Alrob
                 ...
378256          Geoff Banyai
378257            Rory Young
378258      Andrew Grimminck
378259        Matthew George
378260         Dan Stallings
Name: user_id, Length: 378261, dtype: object

In [10]:
c.execute('''DROP TABLE reviews''')

In [11]:
c.execute('''CREATE TABLE reviews (review_id text PRIMARY KEY, user_id text, rating real, review_text text, date_retrieved text,
date_relative text, place_id text, FOREIGN KEY(place_id) REFERENCES restaurants(place_id)) ''')

reviews.to_sql('reviews', conn, if_exists='replace', index=False)

query = '''SELECT * FROM reviews LIMIT 10'''
c.execute(query)
c.fetchall()

[('ChZDSUhNMG9nS0VJQ0FnSUNheHZyeFN3EAE',
  ' Erika W ',
  3.0,
  "The calzone was tasty! Felt a bit heavy on the bread portion but If you order extra sauce, It's useful for dipping it in. They charged $3 for mushrooms to be added, which is a bit higher than the standard. The wine sangria fell a bit flat …",
  '2021-08-16 12:31:12.620712-04:00',
  '2 weeks ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNxMVlUTWZBEAE',
  ' Camilla Guberman ',
  5.0,
  'By far, the best pizza I’ve ever had in Canada. We ordered the Spettacolare and it was really good. The staff is amazing, fresh ingredients and orders are super quick. Bretta was our server at Old Mill Dr, and 5 stars to her. Courteous and attentive.  We will be definitely coming back.',
  '2021-08-16 12:31:12.620712-04:00',
  '2 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUR5c1pUZGJBEAE',
  ' camille epondulan ',
  5.0,
  'We had the Prosciutto e Rucola last night and it’s probably one of the best pizza I have ever had. The cheat night was worth it! Will comeback again soon. …',
  '2021-08-16 12:31:12.620712-04:00',
  '5 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNLcjZlSUZnEAE',
  ' Diana Su ',
  4.0,
  "Gluten free crust was surprisingly really good! Apparently a competitive texture to the normal dough! The tomato sauce is probably one of the best, most flavorful sauce I've ever had! Orders are super quick and staff is friendly.",
  '2021-08-16 12:31:12.620712-04:00',
  '3 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNhcU9fSEpnEAE',
  ' Zainab Abu Alrob ',
  1.0,
  'This location is horrible! The waiter (Sania) was racist, aggressive, and rude to us. She was unprofessional and made us extremely uncomfortable with her passive-aggressive comments like telling my dad to "relax" when he said he was ready …',
  '2021-08-16 12:31:12.620712-04:00',
  '3 weeks ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChdDSUhNMG9nS0VJQ0FnSUNxaFotMTJBRRAB',
  ' Sophia Prijic ',
  5.0,
  'The most amazing gluten free pizza in Toronto - very fresh! The service was great too. I will definitely be coming back!',
  '2021-08-16 12:31:12.620712-04:00',
  '2 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChdDSUhNMG9nS0VJQ0FnSUNDbGEyWC1nRRAB',
  ' Nash ',
  4.0,
  'The Gnocchi Pana E Gorgonzola, Diavola, Tagliatelle with Bolognese and Tiramasu were delicious!!! Our server had good recommendations. However we were seated in the patio on the far side of the restaurant  & I had to keep going inside to …',
  '2021-08-16 12:31:12.620712-04:00',
  '11 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChdDSUhNMG9nS0VJQ0FnSURxMk1PenJnRRAB',
  ' Smith Patel ',
  5.0,
  'Great place for authentic wood fir pizza with the touch from Italy',
  '2021-08-16 12:31:12.620712-04:00',
  'a month ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNDM3BhUmNnEAE',
  ' Kurtis J. Samchee ',
  4.0,
  'I’m fairly familiar with the Goodfellas brand, been to most of their franchises now. Good to see both some variance and similarities between them. Owner had a great disposition especially during these times. …',
  '2021-08-16 12:31:12.620712-04:00',
  '11 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNxZ1A2dFZ3EAE',
  ' Phil M ',
  5.0,
  'I love the food here. The pizzas and pastas are excellent, the staff is accommodating, and their takeout packaging is top notch. They also have some authentic Italian goods for sale such as sausages and cheese! Definitely a great Italian spot for tasty and fair priced food. (Helps that a lot is discounted too!)',
  '2021-08-16 12:31:12.620712-04:00',
  '2 months ago',
  'ChIJedJ0GGI2K4gR6dco_CjRntY')]

In [12]:
pd.read_sql(query, conn)

,review_id,user_id,rating,text,date_retrieved,date_relative,place_id
0,ChZDSUhNMG9nS0VJQ0FnSUNheHZyeFN3EAE,Erika W,3.0,The calzone was tasty! Felt a bit heavy on the...,2021-08-16 12:31:12.620712-04:00,2 weeks ago,ChIJedJ0GGI2K4gR6dco_CjRntY
1,ChZDSUhNMG9nS0VJQ0FnSUNxMVlUTWZBEAE,Camilla Guberman,5.0,"By far, the best pizza I’ve ever had in Canada...",2021-08-16 12:31:12.620712-04:00,2 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY
2,ChZDSUhNMG9nS0VJQ0FnSUR5c1pUZGJBEAE,camille epondulan,5.0,We had the Prosciutto e Rucola last night and ...,2021-08-16 12:31:12.620712-04:00,5 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY
3,ChZDSUhNMG9nS0VJQ0FnSUNLcjZlSUZnEAE,Diana Su,4.0,Gluten free crust was surprisingly really good...,2021-08-16 12:31:12.620712-04:00,3 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY
4,ChZDSUhNMG9nS0VJQ0FnSUNhcU9fSEpnEAE,Zainab Abu Alrob,1.0,This location is horrible! The waiter (Sania) ...,2021-08-16 12:31:12.620712-04:00,3 weeks ago,ChIJedJ0GGI2K4gR6dco_CjRntY
5,ChdDSUhNMG9nS0VJQ0FnSUNxaFotMTJBRRAB,Sophia Prijic,5.0,The most amazing gluten free pizza in Toronto ...,2021-08-16 12:31:12.620712-04:00,2 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY
6,ChdDSUhNMG9nS0VJQ0FnSUNDbGEyWC1nRRAB,Nash,4.0,"The Gnocchi Pana E Gorgonzola, Diavola, Taglia...",2021-08-16 12:31:12.620712-04:00,11 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY
7,ChdDSUhNMG9nS0VJQ0FnSURxMk1PenJnRRAB,Smith Patel,5.0,Great place for authentic wood fir pizza with ...,2021-08-16 12:31:12.620712-04:00,a month ago,ChIJedJ0GGI2K4gR6dco_CjRntY
8,ChZDSUhNMG9nS0VJQ0FnSUNDM3BhUmNnEAE,Kurtis J. Samchee,4.0,"I’m fairly familiar with the Goodfellas brand,...",2021-08-16 12:31:12.620712-04:00,11 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY
9,ChZDSUhNMG9nS0VJQ0FnSUNxZ1A2dFZ3EAE,Phil M,5.0,I love the food here. The pizzas and pastas ar...,2021-08-16 12:31:12.620712-04:00,2 months ago,ChIJedJ0GGI2K4gR6dco_CjRntY

In [5]:
responses.columns

Index(['Unnamed: 0', 'review_id', 'text', 'place_id'], dtype='object')

In [6]:
responses.drop(columns='Unnamed: 0', inplace=True)
responses.columns

Index(['review_id', 'text', 'place_id'], dtype='object')

In [7]:
responses.dtypes

review_id    object
text         object
place_id     object
dtype: object

In [8]:
responses.text

0        Thank you for your feedback. We appreciate it ...
1                       Grazie! Please join us again soon!
2        Grazie! Thank you for your kind words and supp...
3                   Amazing! We are thrilled you liked it!
4        Thank you for your review. We appreciate the f...
                               ...
60837    Hi Julien, Thank you for taking the time to re...
60838    Carolyn, You and your boyfriend Gregory are a ...
60839    Hi Ryan, Sorry to hear that you felt the porti...
60840    Robb, Thanks so much for such a wonderful revi...
60841    Thank you for taking the time to review our re...
Name: text, Length: 60842, dtype: object

In [15]:
c.execute('''DROP TABLE responses''')

In [16]:
c.execute('''CREATE TABLE responses (review_id text PRIMARY KEY, response_text text, place_id text,
FOREIGN KEY(review_id) REFERENCES reviews(review_id), FOREIGN KEY(place_id) REFERENCES restaurants(place_id)) ''')

responses.to_sql('responses', conn, if_exists='replace', index=False)

query = '''SELECT * FROM responses LIMIT 10'''
c.execute(query)
c.fetchall()

[('ChZDSUhNMG9nS0VJQ0FnSUNheHZyeFN3EAE',
  'Thank you for your feedback. We appreciate it and will share with staff. We do hope you will join us again sometime.',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNxMVlUTWZBEAE',
  'Grazie! Please join us again soon!',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUR5c1pUZGJBEAE',
  'Grazie! Thank you for your kind words and support.',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNLcjZlSUZnEAE',
  'Amazing! We are thrilled you liked it!',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNhcU9fSEpnEAE',
  'Thank you for your review. We appreciate the feedback. Can you please email us at info@goodfellaspizza.ca to discuss this further. Many thanks!',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChdDSUhNMG9nS0VJQ0FnSUNxaFotMTJBRRAB',
  'Grazie! Please join us again soon!',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChdDSUhNMG9nS0VJQ0FnSUNDbGEyWC1nRRAB',
  'Grazie! We are thrilled to hear. Please do join us again soon.',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChdDSUhNMG9nS0VJQ0FnSURxMk1PenJnRRAB',
  'Grazie! We appreciate your review. Join us again soon!',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNDM3BhUmNnEAE',
  'Thank you for your review and your support!We look forward to having you back again soon.',
  'ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChZDSUhNMG9nS0VJQ0FnSUNxZ1A2dFZ3EAE',
  '(Translated by Google) Thank you! Come again soon!  (Original) Grazie! Come again soon!',
  'ChIJedJ0GGI2K4gR6dco_CjRntY')]

In [18]:
query = '''SELECT * FROM responses'''

pd.read_sql(query, conn)

,review_id,text,place_id
0,ChZDSUhNMG9nS0VJQ0FnSUNheHZyeFN3EAE,Thank you for your feedback. We appreciate it ...,ChIJedJ0GGI2K4gR6dco_CjRntY
1,ChZDSUhNMG9nS0VJQ0FnSUNxMVlUTWZBEAE,Grazie! Please join us again soon!,ChIJedJ0GGI2K4gR6dco_CjRntY
2,ChZDSUhNMG9nS0VJQ0FnSUR5c1pUZGJBEAE,Grazie! Thank you for your kind words and supp...,ChIJedJ0GGI2K4gR6dco_CjRntY
3,ChZDSUhNMG9nS0VJQ0FnSUNLcjZlSUZnEAE,Amazing! We are thrilled you liked it!,ChIJedJ0GGI2K4gR6dco_CjRntY
4,ChZDSUhNMG9nS0VJQ0FnSUNhcU9fSEpnEAE,Thank you for your review. We appreciate the f...,ChIJedJ0GGI2K4gR6dco_CjRntY
...,...,...,...
60837,ChdDSUhNMG9nS0VJQ0FnSUMwMmUtc2pBRRAB,"Hi Julien, Thank you for taking the time to re...",ChIJp1jFXvk1K4gRaKmLr_DxnAQ
60838,ChZDSUhNMG9nS0VJQ0FnSURNNzZXZmJBEAE,"Carolyn, You and your boyfriend Gregory are a ...",ChIJp1jFXvk1K4gRaKmLr_DxnAQ
60839,ChdDSUhNMG9nS0VJQ0FnSUNzN1pHUXNRRRAB,"Hi Ryan, Sorry to hear that you felt the porti...",ChIJp1jFXvk1K4gRaKmLr_DxnAQ
60840,ChZDSUhNMG9nS0VJQ0FnSURNN1lQckx3EAE,"Robb, Thanks so much for such a wonderful revi...",ChIJp1jFXvk1K4gRaKmLr_DxnAQ
60841,ChdDSUhNMG9nS0VJQ0FnSUQwdzhYNnp3RRAB,Thank you for taking the time to review our re...,ChIJp1jFXvk1K4gRaKmLr_DxnAQ

In [32]:
# c.tables

In [19]:
query = '''SELECT name FROM sqlite_master WHERE type = 'table' '''
c.execute(query)
c.fetchall()

[('restaurants',),
 ('cuisine',),
 ('reviews',),
 ('location',),
 ('web',),
 ('responses',)]

In [34]:
location.columns

Index(['Unnamed: 0', 'place_id', 'formatted_address', 'lattitude',
       'longtitude', 'city', 'postalCode'],
      dtype='object')

In [35]:
location.drop(columns='Unnamed: 0', inplace=True)
location.columns

Index(['place_id', 'formatted_address', 'lattitude', 'longtitude', 'city',
       'postalCode'],
      dtype='object')

In [36]:
location.dtypes

place_id              object
formatted_address     object
lattitude            float64
longtitude           float64
city                  object
postalCode            object
dtype: object

In [37]:
location.postalCode

0       M6S 0A1
1       M6A 2T9
2       M6N 4K9
3       M4V 2L1
4       M5V 2L6
         ...
2163    M1H 3C7
2164    M5V 2A9
2165    L2G 3V9
2166    K2P 1M8
2167      01602
Name: postalCode, Length: 2168, dtype: object

In [38]:
c.execute('''CREATE TABLE location (place_id text, formatted_address text, lattitude real, longtitude real, city text,
postalCode text, FOREIGN KEY(place_id) REFERENCES restaurants(place_id)) ''')

location.to_sql('location', conn, if_exists='replace', index=False)

query = '''SELECT * FROM location LIMIT 10'''
c.execute(query)
c.fetchall()

[('ChIJedJ0GGI2K4gR6dco_CjRntY',
  '1 Old Mill Dr, York, ON M6S 0A1, Canada',
  43.6482211,
  -79.4865442,
  'York',
  'M6S 0A1'),
 ('ChIJfQJkpzMyK4gRDnUt3YFXa5w',
  '3401 Dufferin St #30, Toronto, ON M6A 2T9, Canada',
  43.7251083,
  -79.45280869999999,
  'Toronto',
  'M6A 2T9'),
 ('ChIJ466I-9o2K4gRxzeisSIQUzg',
  '267 Scarlett Rd, York, ON M6N 4K9, Canada',
  43.6777556,
  -79.5062458,
  'York',
  'M6N 4K9'),
 ('ChIJrxCATO8zK4gRHe57JQWul2Q',
  '1 Benvenuto Pl, Toronto, ON M4V 2L1, Canada',
  43.6815023,
  -79.3999013,
  'Toronto',
  'M4V 2L1'),
 ('ChIJryijc9s0K4gRG9aU7SDTXdA',
  '163 Spadina Ave., Toronto, ON M5V 2L6, Canada',
  43.6484905,
  -79.39594149999999,
  'Toronto',
  'M5V 2L6'),
 ('ChIJf4hIwkXL1IkR1FE_9q56MKQ',
  '424 Parliament St, Toronto, ON M5A 3A2, Canada',
  43.6628706,
  -79.3676929,
  'Toronto',
  'M5A 3A2'),
 ('ChIJHwcmTRk2K4gRm85aUecgRe8',
  '2350 Lake Shore Blvd W, Etobicoke, ON M8V 1B6, Canada',
  43.616382,
  -79.48812559999999,
  'Etobicoke',
  'M8V 1B6'),
 ('ChIJmzR9dJU0K4gRj44f61gBfss',
  '196 Robert St, Toronto, ON M5S 2K7, Canada',
  43.6628197,
  -79.4041012,
  'Toronto',
  'M5S 2K7'),
 ('ChIJ1ZGZKNk0K4gRaouNzuptWV8',
  '18 Duncan St, Toronto, ON M5H 3G8, Canada',
  43.6478528,
  -79.3887403,
  'Toronto',
  'M5H 3G8'),
 ('ChIJJZP2IzPL1IkRoIXM5dEE9ck',
  '1 Richmond St W, Toronto, ON M5H 3W4, Canada',
  43.6514536,
  -79.3794917,
  'Toronto',
  'M5H 3W4')]

In [39]:
# query = '''SELECT * FROM responses ORDER BY responded desc LIMIT 100'''

pd.read_sql(query, conn)

,place_id,formatted_address,lattitude,longtitude,city,postalCode
0,ChIJedJ0GGI2K4gR6dco_CjRntY,"1 Old Mill Dr, York, ON M6S 0A1, Canada",43.648221,-79.486544,York,M6S 0A1
1,ChIJfQJkpzMyK4gRDnUt3YFXa5w,"3401 Dufferin St #30, Toronto, ON M6A 2T9, Canada",43.725108,-79.452809,Toronto,M6A 2T9
2,ChIJ466I-9o2K4gRxzeisSIQUzg,"267 Scarlett Rd, York, ON M6N 4K9, Canada",43.677756,-79.506246,York,M6N 4K9
3,ChIJrxCATO8zK4gRHe57JQWul2Q,"1 Benvenuto Pl, Toronto, ON M4V 2L1, Canada",43.681502,-79.399901,Toronto,M4V 2L1
4,ChIJryijc9s0K4gRG9aU7SDTXdA,"163 Spadina Ave., Toronto, ON M5V 2L6, Canada",43.648491,-79.395941,Toronto,M5V 2L6
5,ChIJf4hIwkXL1IkR1FE_9q56MKQ,"424 Parliament St, Toronto, ON M5A 3A2, Canada",43.662871,-79.367693,Toronto,M5A 3A2
6,ChIJHwcmTRk2K4gRm85aUecgRe8,"2350 Lake Shore Blvd W, Etobicoke, ON M8V 1B6,...",43.616382,-79.488126,Etobicoke,M8V 1B6
7,ChIJmzR9dJU0K4gRj44f61gBfss,"196 Robert St, Toronto, ON M5S 2K7, Canada",43.662820,-79.404101,Toronto,M5S 2K7
8,ChIJ1ZGZKNk0K4gRaouNzuptWV8,"18 Duncan St, Toronto, ON M5H 3G8, Canada",43.647853,-79.388740,Toronto,M5H 3G8
9,ChIJJZP2IzPL1IkRoIXM5dEE9ck,"1 Richmond St W, Toronto, ON M5H 3W4, Canada",43.651454,-79.379492,Toronto,M5H 3W4

In [40]:
query = '''SELECT name FROM sqlite_master WHERE type = 'table' '''
c.execute(query)
c.fetchall()

[('restaurants',), ('cuisine',), ('reviews',), ('responses',), ('location',)]

In [41]:
web.columns

Index(['Unnamed: 0', 'place_id', 'url_googleMaps'], dtype='object')

In [42]:
web.drop(columns='Unnamed: 0', inplace=True)
web.columns

Index(['place_id', 'url_googleMaps'], dtype='object')

In [43]:
web.dtypes

place_id          object
url_googleMaps    object
dtype: object

In [44]:
web.url_googleMaps

0       https://www.google.com/maps/search/?api=1&quer...
1       https://www.google.com/maps/search/?api=1&quer...
2       https://www.google.com/maps/search/?api=1&quer...
3       https://www.google.com/maps/search/?api=1&quer...
4       https://www.google.com/maps/search/?api=1&quer...
                              ...
2163    https://www.google.com/maps/search/?api=1&quer...
2164    https://www.google.com/maps/search/?api=1&quer...
2165    https://www.google.com/maps/search/?api=1&quer...
2166    https://www.google.com/maps/search/?api=1&quer...
2167    https://www.google.com/maps/search/?api=1&quer...
Name: url_googleMaps, Length: 2168, dtype: object

In [45]:
c.execute('''CREATE TABLE web (place_id text, url_googleMaps text, FOREIGN KEY(place_id) REFERENCES restaurants(place_id)) ''')

web.to_sql('web', conn, if_exists='replace', index=False)

query = '''SELECT * FROM web LIMIT 10'''
c.execute(query)
c.fetchall()

[('ChIJedJ0GGI2K4gR6dco_CjRntY',
  'https://www.google.com/maps/search/?api=1&query=Goodfellas Wood Oven Pizza,43.6482211%2C-79.4865442&query_place_id=ChIJedJ0GGI2K4gR6dco_CjRntY'),
 ('ChIJfQJkpzMyK4gRDnUt3YFXa5w',
  "https://www.google.com/maps/search/?api=1&query=Moxie's Grill & Bar,43.7251083%2C-79.45280869999999&query_place_id=ChIJfQJkpzMyK4gRDnUt3YFXa5w"),
 ('ChIJ466I-9o2K4gRxzeisSIQUzg',
  'https://www.google.com/maps/search/?api=1&query=New Orleans Seafood & Steakhouse,43.6777556%2C-79.5062458&query_place_id=ChIJ466I-9o2K4gRxzeisSIQUzg'),
 ('ChIJrxCATO8zK4gRHe57JQWul2Q',
  'https://www.google.com/maps/search/?api=1&query=Scaramouche Restaurant,43.6815023%2C-79.3999013&query_place_id=ChIJrxCATO8zK4gRHe57JQWul2Q'),
 ('ChIJryijc9s0K4gRG9aU7SDTXdA',
  'https://www.google.com/maps/search/?api=1&query=Alo,43.6484905%2C-79.39594149999999&query_place_id=ChIJryijc9s0K4gRG9aU7SDTXdA'),
 ('ChIJf4hIwkXL1IkR1FE_9q56MKQ',
  'https://www.google.com/maps/search/?api=1&query=The Tilted Dog Pub & Kitchen,43.6628706%2C-79.3676929&query_place_id=ChIJf4hIwkXL1IkR1FE_9q56MKQ'),
 ('ChIJHwcmTRk2K4gRm85aUecgRe8',
  'https://www.google.com/maps/search/?api=1&query=LaVinia Restaurant,43.616382%2C-79.48812559999999&query_place_id=ChIJHwcmTRk2K4gRm85aUecgRe8'),
 ('ChIJmzR9dJU0K4gRj44f61gBfss',
  'https://www.google.com/maps/search/?api=1&query=RASA,43.6628197%2C-79.4041012&query_place_id=ChIJmzR9dJU0K4gRj44f61gBfss'),
 ('ChIJ1ZGZKNk0K4gRaouNzuptWV8',
  'https://www.google.com/maps/search/?api=1&query=PAI,43.6478528%2C-79.3887403&query_place_id=ChIJ1ZGZKNk0K4gRaouNzuptWV8'),
 ('ChIJJZP2IzPL1IkRoIXM5dEE9ck',
  'https://www.google.com/maps/search/?api=1&query=Richmond Station,43.6514536%2C-79.3794917&query_place_id=ChIJJZP2IzPL1IkRoIXM5dEE9ck')]

In [46]:
# query = '''SELECT * FROM responses ORDER BY responded desc LIMIT 100'''

pd.read_sql(query, conn)

,place_id,url_googleMaps
0,ChIJedJ0GGI2K4gR6dco_CjRntY,https://www.google.com/maps/search/?api=1&quer...
1,ChIJfQJkpzMyK4gRDnUt3YFXa5w,https://www.google.com/maps/search/?api=1&quer...
2,ChIJ466I-9o2K4gRxzeisSIQUzg,https://www.google.com/maps/search/?api=1&quer...
3,ChIJrxCATO8zK4gRHe57JQWul2Q,https://www.google.com/maps/search/?api=1&quer...
4,ChIJryijc9s0K4gRG9aU7SDTXdA,https://www.google.com/maps/search/?api=1&quer...
5,ChIJf4hIwkXL1IkR1FE_9q56MKQ,https://www.google.com/maps/search/?api=1&quer...
6,ChIJHwcmTRk2K4gRm85aUecgRe8,https://www.google.com/maps/search/?api=1&quer...
7,ChIJmzR9dJU0K4gRj44f61gBfss,https://www.google.com/maps/search/?api=1&quer...
8,ChIJ1ZGZKNk0K4gRaouNzuptWV8,https://www.google.com/maps/search/?api=1&quer...
9,ChIJJZP2IzPL1IkRoIXM5dEE9ck,https://www.google.com/maps/search/?api=1&quer...

In [47]:
query = '''SELECT name FROM sqlite_master WHERE type = 'table' '''
c.execute(query)
type(c.fetchall())

list

In [48]:
query = '''SELECT * FROM restaurants LIMIT 1;'''
c.execute(query)
c.fetchall()

[('ChIJedJ0GGI2K4gR6dco_CjRntY',
  '1. Goodfellas Wood Oven Pizza',
  1,
  'Goodfellas Wood Oven Pizza',
  'Italian, Pizza',
  '2021-08-09 19:15:40.484368-04:00',
  '4.5 of 5 bubbles',
  4.3,
  'OPERATIONAL',
  902)]

In [49]:
query = '''SELECT name FROM sqlite_master WHERE type = 'table' ORDER BY name '''

def printSchema(connection):
    connection.execute(query)
    for (tableName,) in connection.fetchall():
        print("{}:".format(tableName))
        for (
            columnID, columnName, columnType,
            columnNotNull, columnDefault, columnPK,
        ) in connection.execute("pragma table_info('{}');".format(tableName)):
            print("  {id}: {name}({type}){null}{default}{pk}".format(
                id=columnID,
                name=columnName,
                type=columnType,
                null=" not null" if columnNotNull else "",
                default=" [{}]".format(columnDefault) if columnDefault else "",
                pk=" *{}".format(columnPK) if columnPK else "",
            ))

In [50]:
printSchema(c)

cuisine:
  0: place_id(TEXT)
  1: name_google(TEXT)
  2: category_tripAdvisor_1(TEXT)
  3: category_tripAdvisor_2(TEXT)
location:
  0: place_id(TEXT)
  1: formatted_address(TEXT)
  2: lattitude(REAL)
  3: longtitude(REAL)
  4: city(TEXT)
  5: postalCode(TEXT)
responses:
  0: review_id(TEXT)
  1: responded(INTEGER)
  2: text(TEXT)
  3: place_id(TEXT)
restaurants:
  0: place_id(TEXT)
  1: name_tripAdvisor(TEXT)
  2: rank_tripAdvisor(INTEGER)
  3: name_google(TEXT)
  4: cuisine(TEXT)
  5: retrieve_date(TEXT)
  6: rating_tripAdvisor(TEXT)
  7: rating_google(REAL)
  8: status(TEXT)
  9: review_count(INTEGER)
reviews:
  0: review_id(TEXT)
  1: user_id(TEXT)
  2: text(TEXT)
  3: date_retrieved(TEXT)
  4: date_relative(TEXT)
  5: place_id(TEXT)
web:
  0: place_id(TEXT)
  1: url_googleMaps(TEXT)

In [20]:
rows = c.execute("SELECT name FROM sqlite_master WHERE type = 'table'")
tables = [row[0] for row in rows]

def sql_identifier(s):
    return '"' + s.replace('"', '""') + '"'

for table in tables:
    print("table: " + table)
    rows = c.execute("PRAGMA table_info({})".format(sql_identifier(table)))
    print(rows.fetchall())
    rows = c.execute("PRAGMA foreign_key_list({})".format(sql_identifier(table)))
    print(rows.fetchall())

table: restaurants
[(0, 'place_id', 'TEXT', 0, None, 0), (1, 'name_tripAdvisor', 'TEXT', 0, None, 0), (2, 'rank_tripAdvisor', 'INTEGER', 0, None, 0), (3, 'name_google', 'TEXT', 0, None, 0), (4, 'cuisine', 'TEXT', 0, None, 0), (5, 'retrieve_date', 'TEXT', 0, None, 0), (6, 'rating_tripAdvisor', 'TEXT', 0, None, 0), (7, 'rating_google', 'REAL', 0, None, 0), (8, 'status', 'TEXT', 0, None, 0), (9, 'review_count', 'INTEGER', 0, None, 0)]
[]
table: cuisine
[(0, 'place_id', 'TEXT', 0, None, 0), (1, 'name_google', 'TEXT', 0, None, 0), (2, 'category_tripAdvisor_1', 'TEXT', 0, None, 0), (3, 'category_tripAdvisor_2', 'TEXT', 0, None, 0)]
[]
table: reviews
[(0, 'review_id', 'TEXT', 0, None, 0), (1, 'user_id', 'TEXT', 0, None, 0), (2, 'text', 'TEXT', 0, None, 0), (3, 'date_retrieved', 'TEXT', 0, None, 0), (4, 'date_relative', 'TEXT', 0, None, 0), (5, 'place_id', 'TEXT', 0, None, 0)]
[]
table: location
[(0, 'place_id', 'TEXT', 0, None, 0), (1, 'formatted_address', 'TEXT', 0, None, 0), (2, 'lattitude', 'REAL', 0, None, 0), (3, 'longtitude', 'REAL', 0, None, 0), (4, 'city', 'TEXT', 0, None, 0), (5, 'postalCode', 'TEXT', 0, None, 0)]
[]
table: web
[(0, 'place_id', 'TEXT', 0, None, 0), (1, 'url_googleMaps', 'TEXT', 0, None, 0)]
[]
table: responses
[(0, 'review_id', 'TEXT', 0, None, 0), (1, 'text', 'TEXT', 0, None, 0), (2, 'place_id', 'TEXT', 0, None, 0)]
[]

In [21]:
tables

['restaurants', 'cuisine', 'reviews', 'location', 'web', 'responses']

In [22]:
c.execute("PRAGMA table_info({})".format('reviews'))
c.fetchall()

[(0, 'review_id', 'TEXT', 0, None, 0),
 (1, 'user_id', 'TEXT', 0, None, 0),
 (2, 'text', 'TEXT', 0, None, 0),
 (3, 'date_retrieved', 'TEXT', 0, None, 0),
 (4, 'date_relative', 'TEXT', 0, None, 0),
 (5, 'place_id', 'TEXT', 0, None, 0)]